<div class="main">
  <div class="container title">
    <div>
      <h2>{{ fieldName }} List</h2>
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="changeToggle()">
        Add {{ fieldName }}
      </button>
    </div>
  </div>
  <div class="card w-50">
    <ul class="list-group w-100">
      <li class="list-group-item listing" *ngFor="let item of list">
        {{ item }}
        <button
          type="button"
          class="btn btn-danger"
          (click)="handleRemove(item)"
        >
          Remove
        </button>
      </li>
    </ul>
    <div class="listing" [hidden]="toggle">
      <div>
        <form #f="ngForm">
          <input
            ngModel
            required
            [(ngModel)]="textBoxValue"
            pattern="{{ patternType }}"
            #inputValue="ngModel"
            name="inputValue"
            placeholder="{{ fieldName }}"
            id="inputValue"
          />
        </form>
        <div
          *ngIf="inputValue.touched && !inputValue.valid"
          class="alert alert-danger"
        >
          {{ fieldName }} is invalid
        </div>
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!inputValue.valid"
          (click)="handleAdd()"
        >
          Add {{ fieldName }}
        </button>
      </div>
    </div>
  </div>
</div>
